<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShopBack Loyalty Stampcards</title>
    <link rel="stylesheet" href="../static/GroupBuy.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='GroupBuy.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">


</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo-search">
                <button class="shopback-main-button">
                    <img src="{{ url_for('static', filename='icons/ShopBack-menu-logo.png') }}" alt="ShopBack Logo" class="header-logo">
                </button>
                <div class="search">
                    <input type="text" placeholder="Search for stores" class="search-bar">
                    <button class="search-button">
                        <!-- FontAwesome for search icon -->
                        <img src="{{ url_for('static', filename= 'icons/search-logo.png')}}" class="search-logo">
                    </button>
                </div>
            </div>
            <div class="top-links">
                <a href="#" class="refer-earn">Refer and earn</a>
                <a href="#" class="how-it-works">How it works</a>
                <div class="account">
                    <img src="{{ url_for('static', filename = 'icons/account-logo-2.png')}}" class="account-logo">
                    <div href="#" class="wallet">$0.00</div>
                </div>
                
            </div>
        </div>

        <div class="navbar">
            <button onclick="window.location.href='https://www.shopback.sg/login?redirect=%2Faccount%2Fsubscription'">ShopBack Plus</button>
            <button onclick="window.location.href='https://www.shopback.sg/vouchers'">Vouchers</button>
            <button onclick="window.location.href='https://www.shopback.sg/travel'">Travel</button>
            <button onclick="window.location.href='https://www.shopback.sg/marketplace'">Marketplace</button>
            <button onclick="window.location.href='https://www.shopback.sg/fashion'">Fashion</button>
            <button onclick="window.location.href='https://www.shopback.sg/electronics'">Electronics</button>
            <button onclick="window.location.href='https://www.shopback.sg/electronics'">Social</button>
            <button onclick="window.location.href='https://www.shopback.sg/electronics'">Rewards</button>
        </div>
    </header>
    <!-- Social Content -->
    <div class="content-wrapper">
        <!-- Welcome Message -->
        <div class="welcome-content">
            <h1>Welcome to Group-Buy</h1>
            <p>Enjoy more cash back with your friends</p>
        </div>
        <div class="feed-container">
            <section class="feed">
                <div class="profile">
                    <img src="{{ url_for('static', filename='icons/profilepic.jpg') }}"  class="profile-pic">
                    <h2 class="profile-name">TOM</h2>
                </div>
                <div class="post">
                    <h3 class="post-title">Recently made a purchase from Nike</h3>
                    <img src="{{ url_for('static', filename='icons/nike.jpg') }}"  class="profile-pic">
                    <h4>Join us in a Group-Buy to enjoy upgraded cash-back <span style="color: #fd8f11;">(3/5)</span></h4>
                    <a href="https://www.nike.com/sg/?cp=49748628652_search_%7Csg%7CCore+Brand+-+Core+Brand+-+General+-+EN_EN%7CGOOGLE%7Cnike&ds_rl=1300698&gad_source=1&ds_rl=1300698&gclid=Cj0KCQiA4fi7BhC5ARIsAEV1Yia2vitxvA8IOmPrXrLWmQ5cwjR4-H6oZpHOirYg_l4ywormwVgw_uMaApV1EALw_wcB&gclsrc=aw.ds" 
                        class="join-now-btn" 
                        target="_blank" 
                        rel="noopener noreferrer">
                        Join Now
                    </a>
                </div>
            </section>
        
            <section class="feed">
                <div class="profile">
                    <img src="{{ url_for('static', filename='icons/nike.jpg') }}"  class="profile-pic">
                    <h2 class="profile-name">TAN</h2>
                </div>
                <div class="post">
                    <h3 class="post-title">Recently made a purchase from Uniqlo</h3>
                    <img src="{{ url_for('static', filename='icons/uniqlo.jpg') }}"  class="profile-pic">
                    <h4>Join us in a Group-Buy to enjoy upgraded cash-back <span style="color: #fd8f11;">(1/5)</span></h4>
                    <a href="https://www.uniqlo.com/sg/en/" 
                        class="join-now-btn" 
                        target="_blank" 
                        rel="noopener noreferrer">
                        Join Now
                    </a>
                </div>
            </section>
            <section class="feed">
                <div class="profile">
                    <img src="{{ url_for('static', filename='icons/profilepic.jpg') }}"  class="profile-pic">
                    <h2 class="profile-name">mike wazowski</h2>
                </div>
                <div class="post">
                    <h3 class="post-title">Recently made a purchase from Booking.com</h3>
                    <img src="{{ url_for('static', filename='icons/Booking.png') }}"  class="profile-pic">
                    <h4>Join us in a Group-Buy to enjoy upgraded cash-back <span style="color: #fd8f11;">(4/5)</span></h4>
                    <a href="https://www.booking.com/" 
                        class="join-now-btn" 
                        target="_blank" 
                        rel="noopener noreferrer">
                        Join Now
                    </a>
                </div>
            </section>
        </div>

        <div class="groupbuy-already-in">
            <h2>GroupBuys You Are Already In</h2>
            <div class="groupbuy-grid">
                <div class="groupbuy-item">
                    <h3>Nike Group-Buy</h3>
                    <p>Current Members: 4/5</p>
                    <a href="https://www.nike.com" target="_blank" class="view-more-btn">View GroupBuy</a>
                </div>
                <div class="groupbuy-item">
                    <h3>Uniqlo Group-Buy</h3>
                    <p>Current Members: 3/5</p>
                    <a href="https://www.uniqlo.com" target="_blank" class="view-more-btn">View GroupBuy</a>
                </div>
                <div class="groupbuy-item">
                    <h3>Adidas Group-Buy</h3>
                    <p>Current Members: 2/5</p>
                    <a href="https://www.adidas.com" target="_blank" class="view-more-btn">View GroupBuy</a>
                </div>
                <div class="groupbuy-item">
                    <h3>Booking.com Group-Buy</h3>
                    <p>Current Members: 5/5</p>
                    <button class="view-more-btn" onclick="Reward()">Claim Rewards</button>
                </div>
            </div>
        </div>
        
        

        
    </div>
    <script src="../static/GroupBuy.js"></script>
</body>
</html>
