<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}

    <h1>Homepage</h1>
    <button id="buylinkButton" class="btn btn-primary">Buy</button>
    <button id="stamplinkButton" class="btn btn-secondary">Stamp Card</button>

    <script>
        document.getElementById('buylinkButton').addEventListener('click', function() {
            window.location.href = "/buy";  // Redirect to the /buy route
        });

        document.getElementById('stamplinkButton').addEventListener('click', function() {
            window.location.href = "/stampcard";  // Redirect to the /stampcard route
        });
    </script>
{% endblock %}
</body>
</html>

