<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/leaderboard.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='leaderboard.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    
</head>
<body>
    <div class="container">
        <h1>Shopback Usage Leaderboard</h1>

        <h2>Leaderboard</h2>
        <table>
            <thead>
                <tr>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Highest Shopback Percentage</th>
                    <th>Number of Vouchers Used</th>
                    <th>Number of Friends</th>
                </tr>
            </thead>
            <tbody>
                {% for user in leaderboard_data %}
                    <tr>
                        <td>{{ user[5] }}</td>  <!-- Ranking -->
                        <td>{{ user[1] }}</td>  <!-- Name -->
                        <td>{{ user[2] }}%</td>  <!-- Highest Shopback Percentage -->
                        <td>{{ user[3] }}</td>  <!-- Number of Vouchers Used -->
                        <td>{{ user[4] }}</td>  <!-- Number of Friends -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Your Friends</h2>
        <div class="friend-list">
            {% for friend in friends %}
                <div class="friend">
                    <span class="friend-name">{{ friend[1] }}</span>
                </div>
            {% else %}
                <p>You have no friends yet.</p>
            {% endfor %}
            </div>
    </div>
</body>
</html>
