<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <form method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="number" step="0.01" name="highestShopbackPercent" placeholder="Highest Shopback Percent" required>
        <input type="number" name="numberOfVouchersUsed" placeholder="Number of Vouchers Used" required>
        <input type="number" name="ranking" placeholder="Ranking" required>
        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Register</button>
</form>

</body>
</html>